html { 
  background: url(http://oi60.tinypic.com/16hqdy1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
	height: 20vh;
	width: 100%;
	color: #00FF00;
	margin: auto;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 4px 4px black;
	font-family: 'Special Elite';
}

h1 {
	font-size: 2.5em;
	margin-top: .7em;
	margin-bottom: 10px;
}

h2 {
	font-size: 2em;
	margin-top: .5em;
	margin-bottom: 10px;
}

header h3 {
	color: red;
}

header h1 span {
	color: white;
}

body {
	font-family: 'Special Elite';
}

nav {
	height: 35px;
	width: 100%;
	color: white;
	margin: auto;
	text-align: right;
}

nav p {
	top: 0px;
	font-size: 1.2em;
	color: white;
	bottom: 0px;
}

article {
	height: 10vh;
	width: 60%;
	background-color: black;
	padding-top: 30px;
	color: white;
	border: 1px solid white;
	text-align: center;
	font-size: 2.0em;
	opacity: .7;
	margin: auto;
}

article h2 {
	font-size: .8em;
}

article:hover {
	box-shadow: 0 0 20px #00FF00;
}

article p {
	color: #00FF00;
}

article a:link {
	color: white;
	text-decoration: none;
}

article a:visited {
	color: white;
}

article a:hover {
	color: #00FF00;
}

sidebar {
	width: 4%;
	height: 65%;
	background-color: white;
	margin: auto;
	color: black;
	bottom: 0px;
	text-align: center;
	position: fixed;
	top: 125px;
	right: 0px;
	opacity: .7;
}

 sidebar a {
	top: 5px;
	position: relative;
}

 sidebar a:link {
 	color: black;
 	text-decoration: none;
 }

 sidebar a:visited{
 	color: black;
 }

 sidebar a:hover{
 	color: #00FF00;
 }

footer {
	height: 5vh;
	color: red;
	padding-top: 15px;
	background-color: black;
	font-size: 1em;
	text-align: center;
}

footer a:link {
	color: white;
}

footer a:visited {
	color: white;
}

footer a:hover {
	color: #00FF00;
}

@font-face {
	font-family: 'IcoMoon';
	src:url('unit1_projects/icomoon444/fonts/icomoon.eot?er9f4g');
	src:url('unit1_projects/icomoon444/fonts/icomoon.eot?#iefixer9f4g') format('embedded-opentype'),
		url('unit1_projects/icomoon444/fonts/icomoon.woff') format('woff'),
		url('unit1_projects/icomoon444/fonts/icomoon.ttf?er9f4g') format('truetype'),
		url('unit1_projects/icomoon444/fonts/icomoon.svg?er9f4g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before{
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
	font-size: 28px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}	
