header {
	height: 150px;
	width: 98%;
	top: 5px;
	color: #00FF00;
	background-image: url("http://www.vsu.edu/files/images/technology-services/technology_landing.jpg");
	background-size: 100%;
	border: 5px solid black;
	margin: auto;
	text-align: center;
	font-size: 1.5em;
	text-shadow: 3px 3px black;
	font-family: 'Special Elite';
}

#profilepic {
	max-width: 100%;
	top: 20%;
	margin-left: 30%;
	position: fixed;
}

#profilepic a img {
	border: 2px solid black;
	border-radius: 100%;
}

#container {
	top: 0px;
	width: 100%;
	height: 800px;
	margin: auto;
	background-color: gray;
}

body {
	background-color: #474747;
	font-family: 'Special Elite';
}
nav {
	top: -53px;
	height: 35px;
	width: 98%;
	opacity: .6;
	background: black;
	color: white;
	margin: auto;
	text-align: center;
	border-bottom: 2px solid white;
	position: relative;
}

nav a {
	top: 10px;
	font-size: 1.2em;
	color: white;
	bottom: 0px;
	position: relative;
}

nav p {
	top: 10px;
	font-size: 1.2em;
	color: white;
	bottom: 0px;
	position: relative;
}

article {
	height: 18vh;
	width: 60%;
	background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS5hMercN1sNAEYdWKVlEW7hYScpVx0YHjwv2avRBSI1EDFWIhU");
	background-size: 100%;
	padding: 10px;
	color: #086FA1;
	border: 2px solid black;
	margin: auto;
	text-align: center;
	box-shadow: 1px 1px white;
}

footer {
	width: 97%;
	height: 50px;
	background-image: url("http://www.vsu.edu/files/images/technology-services/technology_landing.jpg");
	border: 5px solid black;
	margin: auto;
	position: fixed;
	color: white;
	bottom: 0px;
	text-align: center;
}

footer a{
	top: 5px;
	position: relative;
}

 footer a:link {
 	color: white;
 	text-decoration: none;
 }

 footer a:visited{
 	color: white;
 }

 footer a:hover{
 	color: #00FF00;
 }

h2 {
	font-size: 2em;
	margin-top: .5em;
	margin-bottom: 5px;
}

article p {
	color: #00FF00;
}

nav a:hover{
	color: #00FF00;
}

article a:link {
	color: #00FF00;
}

article a:hover {
	color: white;
}

@font-face {
	font-family: 'IcoMoon';
	src:url('unit1_projects/icomoon444/fonts/icomoon.eot?er9f4g');
	src:url('unit1_projects/icomoon444/fonts/icomoon.eot?#iefixer9f4g') format('embedded-opentype'),
		url('unit1_projects/icomoon444/fonts/icomoon.woff') format('woff'),
		url('unit1_projects/icomoon444/fonts/icomoon.ttf?er9f4g') format('truetype'),
		url('unit1_projects/icomoon444/fonts/icomoon.svg?er9f4g#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before{
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}	
