#header {
	width: 97%;
	background: black;
	height: 150px;
	position: fixed;
	text-align: center;
	border-radius: 5%;
	color: #005CE6;
	border: solid 3px #005CE6;
}

body {
	background: #999999;
}

p {
	font-size: 11pt;
}

#section1 {
	top: 180px;
	background: #005CE6;
	text-align: center;
	float: left;
	height: 400px;
	width: 34%;
	color: #black;
	border-radius: 15%;
	margin: 0 1.5%;
	position: relative;
	border: 3px solid black;
	font-family: copperplate;
}

#section2{
	top: 180px;
	background: #005CE6;
	text-align: center;
	float: left;
	height: 400px;
	width: 34%;
	color: #black;
	border-radius: 15%;
	margin: 0 1.5%;
	position: relative;
	border: 3px solid black;
	font-family: copperplate;
}

#section3{
	top: 180px;
	text-align: center;
	background: black;
	font-family: copperplate;
	float: left;
	height: 400px;
	width: 21%;
	color: #005CE6;
	border-radius: 15%;
	margin: 0 1.5%;
	border: 3px solid #005CE6;
	position: relative;
}

#footer{
	
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
  left: 0px;
  bottom: 0px;
  position: fixed;
  font-family: copperplate;
}

#intro {
	margin-top: 5px;
	color: #005CE6;
	font-size: 18pt;
	font-family: copperplate;
}

img {
	padding-bottom: 0px;
}

h1 {
	margin-top: 15px;
	margin-bottom: 0px;
	font-family: copperplate;
	font-size: 42pt;
}
h2 {
	color: #black;
	padding-top: 0px;
}

a:visited {
	color: black;
}

a:hover {
	color: yellow;
}

#footer a:visited {
	color: #005CE6;
}
#footer a:hover {
	color: yellow;
}

